<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>MEUI</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>贝壳二手房网</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="jgBg" style="padding-top: .68rem;">贝壳二手房网</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">贝壳，找房大平台，拥有全面、真实的房源信息，以及VR看房、房屋估价、智能推荐等业界创新技术，以为2亿家庭提供品质居住服务为愿景。业务涉及二手房、新房、租房、旅居、海外、家装等，为您带来多元专业的服务，全面满足您的居住需求。海量真房源，省心上贝壳。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">查询海量房源信息，提供VR看房、地图找房、房屋估价等创新技术在线选房，同时涉及旅居、海外房源、家装等多元服务，可网上预约看房、选房。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">www.ke.com</ul>
	</div>
</div>
</body>
</html>
