<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>MEUI</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>青岛22世纪不动产</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="jgBg" style="padding-top: .54rem;">青岛22世纪不动产</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">二十二世纪不动产代理有限公司是2003年3月28日成立的房地产综合服务型企业公司目前开展的主要业务有：房地产代理、营销、策划；房屋买卖、租赁、收购、置换、代办产权手续；房地产测绘、建筑面积、使用面积测量；代办房屋地产价格评估、交易过户、抵押贷款、房屋现值价格评估；房地产咨询服务。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">可实现涉及房地产代理、房屋买卖、租赁，房地产测绘、评估，贷款咨询等业务，可网上预约看房、选房、咨询、评估。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">www.22th.cn</ul>
	</div>
</div>
</body>
</html>
