<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>MEUI</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>深圳前海大道金融服务有限公司青岛分公司</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="jgBg">深圳前海大道金融服务有限公司青岛分公司</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">深圳大道金融服务有限公司是一家国内领先的金融服务机构，与各大银行及非银行金融机构长期合作，主要面向国内中小企业及个人，提供金融信息咨询、银行信用融资、抵押融资、按揭赎楼、知识产权代理、高新企业认证等服务的综合性企业。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">为二手房交易过程中买卖双方的资金需求提供专业的综合金融服务，银行信用贷款、抵押房贷、抵押车贷、按揭赎楼、工资贷、企业贷、企业登记代理、商标注册、专利申请、高新企业认证等可网上咨询。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">www.ddjf.com.cn</ul>
	</div>
</div>
</body>
</html>
