<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>MEUI</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>青岛市国土资源和房屋管理局</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="zwBg" style="padding-top: .36rem;">青岛市国土资源和房屋管理局</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">青岛市国土资源和房屋管理局官网，青岛市国土资源和房屋管理局承担规范国土资源和房屋管理秩序的责任。起草国土资源和房屋管理地方性法规、规章草案；拟订土地、矿产资源、测绘、房屋、物业管理政策和技术规程、规范、办法，并组织协实施和监督检查；调查处理国土资源和房屋违法案件。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">查询青岛市房屋管理及物业管理法规、规章，了解房地产系统内各类信息，参与青岛市国土资源和房屋管理局政务公开。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">www.fdzy.gov.cn</ul>
	</div>
</div>
</body>
</html>
