<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>MEUI</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>青岛住房保障网</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="zwBg">青岛住房保障网</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">由青岛市国土资源和房管局直属单位青岛市住房保障中心主办，青岛市住房保障中心负责贯彻执行国家、省、市住房制度改革和住房保障工作的方针、政策和法律、法规及规章；负责城镇最低收入家庭廉租住房保障和经济适用住房、普通商品住房的具体管理工作；负责住房制度改革具体实施工作的综合协调及组织；编制住房保障和危、破、陋住房改造中长期规划及年度计划的具体实施工作；负责住房制度改革和住房保障的信息、档案和统计工作；指导、检查区、市住房制度改革和住房保障工作。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">查询青岛市保障性住房政策法规、保障性住房项目信息、申请流程，保障资格预申请、申请进度查询、选房顺序查询、住房保障持证家庭申购经限房登记、家庭得分查询等。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">www.qdzfbz.gov.cn</ul>
	</div>
</div>
</body>
</html>
