<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>MEUI</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>青岛市房屋专项维修资金管理信息网</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="zwBg" style="padding-top: .36rem;">青岛市房屋专项维修资金管理信息网</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">青岛市房屋专项维修资金管理信息网由青岛市房屋专项维修资金管理中心主办，该中心具体负责全市房屋专项维修资金的归集、账户管理、使用监管和信息系统建设、维护等工作。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">可查询青岛市房屋专项维修资金及物业管理政策法规，网上查询房屋维修资金相关信息，维修基金使用划拨公告、续筹公告、退款公告等等。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">www.qdwxzjw.gov.cn</ul>
	</div>
</div>
</body>
</html>
