<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>青岛衡元德房地产评估有限公司</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>青岛衡元德房地产评估有限公司</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="jgBg">青岛衡元德房地产评估有限公司</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">青岛衡元德房地产评估有限公司是2005年由原隶属于青岛市国土资源和房屋管理局的青岛市土地估价所、青岛市房产评估所两个处级事业单位合并，脱钩改制后成立的房地产评估中介机构。是青岛市实力雄厚、社会信誉良好的综合性中介服务机构。注册资本200万元人民币，房地产评估资质经中华人民共和国住房城乡建设部批准注册，获得国家壹级评估资质。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">服务内容</ul>
		<ul class="detailTxt">土地评估业务、土地政策咨询、房地产处置方案策划、房地产投资信息咨询、土地出让转让、抵押手续代理业务。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">服务方式</ul>
		<ul class="detailTxt">网址：www.qdhydpg.com                                          办公地址：青岛市市北区馆陶路18号                                  联系电话：13806426155</ul>
	</div>
</div>
</body>
</html>
