<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>山东正源房地产土地评估事务所有限责任公司</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>山东正源房地产土地评估事务所有限责任公司</ul>
	<ul class="headerReturn" ></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="jgBg">山东正源房地产土地评估事务所有限责任公司</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">山东正源房地产评估事务所有限责任公司成立于1999年，注册资本300万元，经营范围包括房地产评估业务等。具有房地产评估二级资质和土地评估B级资质，近两年年均完成评估额在8500万-1.2亿元以上，公司拥有自己固定的营业场所；公司内部管理制度健全；具有较高执业能力，在行业内具有较高声誉。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">司法鉴定、土地出让、房地产转让、抵押、课税、典当、房屋拆迁、企业上市、改制等涉及的房地产估价、咨询等业务。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">办公地址：青岛市开发区井冈山路658号中建紫锦广场2520户                                            联系电话：18678986167</ul>
	</div>
</div>
</body>
</html>
