<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>江苏金土地房地产评估测绘咨询有限公司</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>江苏金土地房地产评估测绘咨询有限公司</ul>
	<ul class="headerReturn" ></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="jgBg">江苏金土地评估测绘咨询有限公司</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">江苏金土地房地产评估测绘咨询有限公司由中国注册土地估价师、注册房地产估价师、中国注册造价师等专业人员组成，以土地评估、房地产评估为主，包括房地产评估（咨询、中介）、测绘、项目开发及可行性研究、企业策划等多种业务范围在内的专业性独立中介评估机构。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">提供土地评估，房地产评估、测绘、项目开发及可行性研究、企业策划等业务，可网上咨询、评估。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">网址：www.jtdfdc.com                       办公地址：青岛市市北区四平支路30号301户                                        联系电话：13864287532</ul>
	</div>
</div>
</body>
</html>
