<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>山东大地房地产土地估价有限公司</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>山东大地房地产土地估价有限公司</ul>
	<ul class="headerReturn" ></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="jgBg">山东大地房地产土地估价有限公司</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">山东大地房地产土地估价有限公司由威海市房地产价格评估事务所脱钩改制，2001年在威海正式注册成立。总公司现有专职注册房地产估价师16名，土地估价师11名，保险公估师3名，会计师2名，价格鉴证师2名、环境损害鉴定评估师（高级）3名、社会稳定风险评估与管理师5名、一级信用管理师3名、二级信用管理师2名、环境科学硕士研究生2名，专业涉及评估、保险、环境影响评价、信用评估、接受政府房屋征收部门的委托开展房屋征收与补偿服务等。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">房地产估价、土地估价、海域使用权估价、地价咨询、房地产项目可行性研究与咨询、二手车评估、船舶价格评估、不动产中介服务等。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">网址：www.dadihouse.cn                       办公地址：青岛市李沧区青峰路18号407室                                     联系电话：13335059000</ul>
	</div>
</div>
</body>
</html>
