<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>恩马墅院项目（一期、二期）住宅</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>恩马墅院项目（一期、二期）住宅</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">4008891962-6657</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>35000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">崂山区中韩街道办事处李宅路北侧</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>市北支行</p>
			<p>客户经理 - 83676206</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">2017年10月</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">该项目位于崂山区中韩街道办事处李宅路北侧，占地28577.90平方米，期限至2081年11月27日止。项目东侧为一空旷地，东南侧有一加油站，北侧为山地，南侧为临建的平层商业网点，西侧为区域规划中的中心大道。该项目为居住舒适、配套完善、环境优美、交通便捷、统筹发展的新型居住小区。项目以多层洋房、小高层和高层户型为主，多层洋房户型建面140-253平，小高层和高层户型建面为88-220平。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">周边教育配套有童心幼儿园、新世纪小学、第一国际学校、青岛二中、青岛科技大学、青岛大学和中国海洋大学。项目依崂山南麓而建，午山、将军山、鹧鸪山、平顶山、棉花山等崂山福脉峰领环绕墅院，地理位置优越。周边环境优雅，视野开阔，周边鲁德海德堡、海信依云小镇、鲁商蓝岸丽舍均为我市高档住宅区，所处社会环境为高端社区，社会治安较好。</ul>
	</div>
</div>
</body>
</html>
