<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>三盛国际海岸</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>三盛国际海岸</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">4008893271-2803</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>15000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">温泉镇滨海大道与嶺海路交汇处</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>市北支行</p>
			<p>客户经理 - 83676206</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">2018年9月</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">项目位于即墨市领海西路34号，坐拥即墨温泉版块核心地段，公司产品类型多样方，以小面积、低总价产品为主。主打产品以90-160平方的中小户型，同时产品通过地下室、露台、庭院等计设，将产品的使用面积进行最大化，赠送面积最高可达35%，再加上三盛地产集团本身对产品品质的严格要求，使其性价比变得非常高。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">随着嶺海板块国际博览中心、五星级酒店、国际企业会馆、游艇俱乐部、温泉疗养中心、别墅、度假型公寓及高层、多层住宅及大学等物业形态的不断完善，未来的嶺海板块，将成为能够容纳10万人口的北中国区最具影响力和竞争力的“滨海休闲养生度假”新城；将以“会议之城、运动之城、养生之城、生态之城、观光之城、教育之城”享誉国内外。  </ul>
	</div>
</div>
</body>
</html>
