<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>荣盛锦绣外滩</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>荣盛锦绣外滩</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg080201.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg080202.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">15263031568</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>10000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">经济技术开发区交大大道以西，湘江路以南，创新大道以东，赣江路以北</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>胶州支行</p>
			<p>客户经理 - 58651910</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">2018年3月</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">位于胶州市经济技术开发区湘江路2号，周边生活配套成熟，环境清新，比邻开发区管委会、青岛大学胶州校区、青岛中加国际学校、青岛大学附属国际医院等行政机构，交通便利，地铁M12号线路经本项目，并自带商业综合体，为居住提供便利条件。距离胶州湾大桥仅5分钟车程即可到达。高铁线路，距火车站胶东机场约30分钟路程。升值潜力无限，该小区户型设计合理，面积以中小户型为主，具有较好的销售前景。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">周边生活配套成熟，环境清新，比邻开发区管委会、青岛大学胶州校区、青岛中加国际学校、青岛大学附属国际医院等行政机构，交通便利，地铁M12号线路经本项目，并自带商业综合体，为居住提供便利条件。</ul>
	</div>
</div>
</body>
</html>
