<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>万科魅力新城</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>万科魅力新城</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg050201.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg050202.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">18660287086</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>22000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">春城路169号</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>城阳支行</p>
			<p>赵昕 - 15092258633</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">2017年12月</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">项目处于城阳区稀缺的核心地段，位于兴阳路南侧、长城路东侧，吉阳路北侧，春城路西侧。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">项目周边的公交线路十分便利，到市区以及城阳区各个地方都非常方便，距离流亭国际机场仅8分钟车程，有着得天独厚的核心区位优势。园区配套日渐完善，引入同德医院、途家酒店、24小时超市、移动营业厅、中国及建设银行、餐厅、健身、青鸟图文等，为企业提供生活、工作的便利。</ul>
	</div>
</div>
</body>
</html>
