<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>远洋公馆9#楼底商及办公项目</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>远洋公馆9#楼底商及办公项目</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseDetailImg0201.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseDetailImg0202.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseDetailImg0203.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">4000608366转1270</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>25000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">市南区燕儿岛路23号</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>中山路支行</p>
			<p>客户经理 - 82896756</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">2016年6月</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">远洋公馆，位于青岛工人疗养院的原址，立踞香港中路商业核心区的后花园，繁华与静谧兼而有得。项目总占地42463㎡，建筑面积133681㎡，以1.88超低容积率、41.5%绿化率，为青岛世家建筑一座家族传世平墅大宅。远洋公馆汲取欧洲建筑风格精华，融汇古典建筑符号与亲切的现代人居尺度，启用顶尖团队3年时光细琢而成，建筑密度仅为24.7%，6座多层建筑、3座小高层、1座幼儿园，天然石材立面，嵌缀打磨精致细腻的勒脚与线条，厚重华美中氤氲着浓厚的人文气质；构建起城市低密建筑群、平墅传世大宅、私人定制会客厅的豪宅序列产品线。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">项目距青岛金融街香港中路仅200米，丽晶酒店、颐中皇冠假日酒店、麦凯乐、书城、佳世客等顶级商业资源环伺周边；青岛大学、青岛大学附属中学、青岛市57中学、青岛燕儿岛路第一小学、青岛金门路小学等人文学府云集。尊崇地段，成熟配套，珍稀地段价值不言而喻。</ul>
	</div>
</div>
</body>
</html>
