<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>青岛华润城一期1-11#楼住宅、底商；配套商业42-45#楼；办公50、51#楼</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>青岛华润城一期1-11#楼住宅、底商；配套商业42-45#楼；办公50、51#楼</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">18663989070</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>30000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">崂山区深圳路101号</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>四方支行</p>
			<p>李静 - 13708958590</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">2018年9月</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">项目位于青岛市崂山区深圳路101号，位于辽阳东路与深圳路交汇处、地铁口，未来将成为商住、休闲度假并重的青岛市崂山核心区。该区域房价合理，市场需求旺盛，购买客户群体多为中、高收入的人群</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">项目位于崂山区深圳路与辽阳东路交汇处，小区位于地铁2号线出口，交通便利，周边有学校、商场等配套设施，为商住、休闲的崂山核心区域。</ul>
	</div>
</div>
</body>
</html>
