<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>中欧国际城</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>中欧国际城</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg0601.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg0602.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">0532-55666677</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>14000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">火炬路57号（火炬路和祥源路交汇处）</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>市北支行</p>
			<p>客户经理 - 83676206</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">2018年9月</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">中欧国际城项目”总占地约2500亩，建筑面积约400万平方米，住商比为6：4，含住宅、商业、产业多类型产品。住宅总建面240万平方米（含48.2万平方米人才公寓），商业总建面54万平方米，产业办公105万平方米，持有型商业物业如综合购物中心、五星级酒店、邻里中心等约24.5万平方米。该项目处于青岛国家高新区，即青岛北岸主城核心区，面朝胶州湾，地域辐射性相对优越，是方兴地产在青岛开发的第二个大项目。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">位于高新区区域，靠近青岛中学，周边环境较好，多条公交线路，交通便利。</ul>
	</div>
</div>
</body>
</html>
