<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>胶州天泰时光印象</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>胶州天泰时光印象</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg080401.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">0532-68721171</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>9000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">香港路与沈海高速交汇处/上海路与规划1号路交汇处</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>营业部</p>
			<p>客户经理 - 68671937/68671938</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">待定</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">《天泰•时光印象》北区共两宗土地，北区1项目位于胶州市上海路802号；北区2项目位于800号。共有17栋，均为6-8层的电梯洋房，规划总户数约596户，户型88—145平方米/户。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">项目周边配套齐全，购物、金融、医疗及学校等功能区域设施齐备。</ul>
	</div>
</div>
</body>
</html>
