<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>中洲·半岛城邦（北区）</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>中洲·半岛城邦（北区）</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg080301.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg080302.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg080303.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">0532-58822708</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>13000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">胶州市少海北路56号</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>胶州支行</p>
			<p>客户经理 - 58651910</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">2018年6月</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">位于胶州市少海北路56号，紧邻国家4A级旅游度假风景区，项目南侧紧邻新建的三甲医院-上海东方医院青岛分院，该项目总投资约10亿元，西邻中央商务区，项目自身配套6200平幼儿园，东邻胶州最大的东湖，湖水总面积达6.28平方公里，是一个天然的大氧吧，非常适宜人居住，现已开工的M8号线地铁站，大湖河站就在项目附近。该小区户型设计合理，具有较好的销售前景。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">项目自身配套6200平幼儿园，东邻胶州最大的东湖，湖水总面积达6.28平方公里，是一个天然的大氧吧，非常适宜人居住，现已开工的M8号线地铁站，大湖河站就在项目附近。</ul>
	</div>
</div>
</body>
</html>
