<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>蓝山湾蓝寓（文昌阁社区改造项目B1-06商业地块）2号楼办公</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>蓝山湾蓝寓（文昌阁社区改造项目B1-06商业地块）2号楼办公</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="main_visual">
		<div class="main_image">
			<ul>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
				<li><span style="background:url(../image/houseImg.jpg); background-size:100% 100%;"></span></li>
			</ul>
			<a href="javascript:;" id="btn_prev"></a>
			<a href="javascript:;" id="btn_next"></a>
		</div>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon3">售楼电话</ul>
		<ul class="detailTxt">66086666</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon4">参考价格</ul>
		<ul class="detailTxt"><span class="fontRed"><strong>17000</strong></span>元/㎡</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon5">楼盘地址</ul>
		<ul class="detailTxt">李沧区重庆中路631号</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon6">按揭合作银行</ul>
		<ul class="detailTxt">
			<p>营业部</p>
			<p>客户经理 - 68671937/68671938</p>
		</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon7">开盘时间</ul>
		<ul class="detailTxt"><span class="fontRed">待定</span></ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">楼盘简介</ul>
		<ul class="detailTxt">项目总建筑面积约为39302.11平方米，共建5幢楼，其中：1#楼17层，1-2层用途为商业，3-17层为公寓；2#楼5层，1-2层用途为商业，3-5层为LOFT公寓；3#楼4层，用途为LOFT公寓；4#楼3层，用途为文化活动中心；5#楼5层，1层用途为商业，2-5层用途为LOFT公寓。该项目目前整体完工，销售相关手续齐全。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">配套设施</ul>
		<ul class="detailTxt">项目位于李沧区重庆中路631号，项目西侧为进出青岛市的主要交通要道之一的重庆中路，临近地铁3号线。该区域治安情况良好，商铺经营有序，周边有幼儿园，小学以及其他配套设施。</ul>
	</div>
</div>
</body>
</html>
