<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>崂山区</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>崂山区</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="houseList">
		<ul><a href="/initHouse/housedetail09">
			<li class="pic"><img src="../image/houseImg.jpg"></li>
			<li class="line">
				<p class="lineTop">恩马墅院项目（一期、二期）住宅</p>
				<p class="lineCet">参考价格：<span class="fontRed"><strong>35000</strong></span>元/㎡</p>
				<p class="lineBtm">崂山区中韩街道办事处李宅路北侧</p>
			</li>
		</a></ul>
		<ul><a href="/initHouse/housedetail10">
			<li class="pic"><img src="../image/houseImg.jpg"></li>
			<li class="line">
				<p class="lineTop">青岛华润城一期1-11#楼住宅、底商；配套商业42-45#楼；办公50、51#楼</p>
				<p class="lineCet">参考价格：<span class="fontRed"><strong>30000</strong></span>元/㎡</p>
				<p class="lineBtm">崂山区深圳路101号</p>
			</li>
		</a></ul>
		<ul><a href="/initHouse/housedetail11">
			<li class="pic"><img src="../image/houseImg040301.jpg"></li>
			<li class="line">
				<p class="lineTop">海尔地产云玺</p>
				<p class="lineCet">参考价格：<span class="fontRed"><strong>31000</strong></span>元/㎡</p>
				<p class="lineBtm"> 海尔路一号(海尔工业园一号门旁)</p>
			</li>
		</a></ul>

	</div>
	<div class="noMore">没有更多啦!</div>
</div>
</body>
</html>
