<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>MEUI</title>
	<link href="../css/meui.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="../js/jquery.Slider.js" type="text/javascript"></script>
	<script src="../js/common.js" type="text/javascript"></script>
	<script src="../js/mejs.js" type="text/javascript"></script>
	<script src="../js/menudown.js" type="text/javascript"></script>
	<script>
        $(function () {
            $(".headerReturn").click(function(){
                window.history.back(-1);
            });
        })
	</script>
</head>

<body>
<!--页面头部-->
<div class="header">
	<ul>青岛世联红璞公寓有限公司</ul>
	<ul class="headerReturn"></ul>
</div>
<!--页面列表-->
<div class="pageT">
	<div class="jgBg" style="padding-top: .54rem;">青岛世联红璞公寓有限公司</div>
	<div class="detailInfo">
		<ul class="detailTitle icon8">简介</ul>
		<ul class="detailTxt">世联红璞公寓青大店世联红璞——世联行（A股代码002285）旗下出租公寓，全国29个城市，为城市白领提供设计、质感、乐趣的居住体验。品牌定位：通过人群，服务，场景串联为都市人提供全新的租房体验。品牌使命：让物业所有者资产价值最大化。品牌愿景：点燃都市人心中的希望 借助服务、资源、社交三大平台营造自由、关怀、分享的部落文化社区，通过人群、服务、场景串联为都市人提供美好而有趣的生活 打造青年梦想创造家。</ul>
	</div>
	<div class="detailInfo">
		<ul class="detailTitle icon9">功能</ul>
		<ul class="detailTxt">可实现专注于青年租房市场，为城市白领提供设计、质感、乐趣的居住体验，可网上看房、预约、咨询。</ul>
	</div>
	<!--<div class="detailInfo">
		<ul class="detailTitle icon10">网址</ul>
		<ul class="detailTxt">&nbsp;</ul>
	</div>-->
</div>
</body>
</html>
